@font-face {
  font-family: "Monument";
  src: url("assets/MonumentGrotesk-Regular.ttf");
}

body {
  font-family: "Monument", sans-serif;
}

.header {
  margin: 100px 10vw 50px 10vw;
}

.content {
  margin: 0px 10vw;
}

.degree-name {
  font-size: x-large;
  line-height: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.student-name {
  font-size: xxx-large;
}
.student-bio {
  max-width: 50%;
  font-size: large;
  line-height: 1.5;
}
.course-name {
  margin-top: 100px;
  font-size: xxx-large;
}
.post {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  margin-bottom: 50px;
}
.post-title-date {
  margin-bottom: 25px;
  font-size: x-large;
  line-height: 1;
}
.text-container {
  grid-column: 1 / span 1;
  font-size: large;
  line-height: 1.5;
}

.image-container {
  grid-column: 2 / span 1;
}

.image-style {
  max-width: 100%;
}

.footer {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: x-small;
}
